In [6]:
## complex number x+yj 
## j is the imaginary part
a= 1+2j

In [7]:
a

(1+2j)

In [9]:
print(a.real,a.imag)

1.0 2.0

In [11]:
lst=[3,4,5,6,7,"Abhisek"]
lst

[3, 4, 5, 6, 7, 'Abhisek']

In [13]:
b=["chutiya",3,4,56,8]
b

['chutiya', 3, 4, 56, 8]

In [14]:
lst+b

[3, 4, 5, 6, 7, 'Abhisek', 'chutiya', 3, 4, 56, 8]

In [15]:
lst.append("datta")

In [16]:
lst

[3, 4, 5, 6, 7, 'Abhisek', 'datta']

In [17]:
b.append(["datta",1,3,4,5])
b

['chutiya', 3, 4, 56, 8, ['datta', 1, 3, 4, 5]]

In [18]:
b.extend(["datta",1,3,4,5])

In [19]:
b

['chutiya', 3, 4, 56, 8, ['datta', 1, 3, 4, 5], 'datta', 1, 3, 4, 5]

In [20]:
# Loops
# for loops
for x in b:
    print(x)

chutiya
3
4
56
8
['datta', 1, 3, 4, 5]
datta
1
3
4
5

In [21]:
str1=["Abhisek"]
len(str1)

1

In [22]:
str2="Abhisek"
len(str2)

7

In [23]:
for x in str2:
    print(x)

A
b
h
i
s
e
k

In [27]:
lst1=[1,2,3,3,4,4,5,6,7,8,35,7]
a=0
for x in lst1:
   # print(x)
    a=x+a
print("The sum is ",a)

The sum is  85

In [28]:
lst2=[1,3,4,6,7,8,9,2,3,4,5]

In [31]:
oddsum=0
evensum=0
for x in lst2:
    if x%2==0:
        evensum=x+evensum
    else:
        oddsum=x+oddsum
print("The odd sum is {} and even sum is {} ".format(oddsum,evensum))

The odd sum is 28 and even sum is 24

In [32]:
lst3=[1,2,3,4,5,6,78,89]

In [36]:
lst3.index(2)

1

In [38]:
a=0
for i in lst3:
    if lst3.index(i)<=4:
        a=a+i
print(a)

15

In [46]:
lst4=[1,2,3,4,5,6,7]

In [48]:
even_sum=0
odd_sum=0
for i in lst4:
    if i%2==0:
        even_sum=even_sum+i
        if even_sum>=20:
            break
    else:
        odd_sum=odd_sum+i
        if odd_sum>=20:
            break
else:
    print("The odd sum is {} and even sum is {}".format(odd_sum,even_sum))

The odd sum is 16 and even sum is 12

In [2]:
# while loop
# even_sum and odd sum
even_sum=0
odd_sum=0
i=1
while i<=10:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
    i=i+1
print("the odd sum is {} and the even sum is {}".format(odd_sum,even_sum))

the odd sum is 25 and the even sum is 30

In [3]:
## range 
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
list(range(20,50,2))

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [16]:
sum(list(range(1,100,2)))# sum of first 100 odd number

2500